* {
	box-sizing: border-box;
}


/******************************
General
******************************/

body {
	font-family: "Vollkorn", serif;
	font-size: 18px;
	color: #444;
	-ms-overflow-style: scrollbar;
	margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
#nav-menu a,
.btn-default {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 16px;
	margin: 0;
}

h2,
h3 {
	text-align: center;
}

h2 {
	font-size: 2.1em;
	margin-top: 0;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
}

.main-content {
	width: 96%;
	height: 100%;
	/* Margin to clear header */
	margin: 300px 2% 0;
	/* Bottom to create room for footer */
	padding-bottom: 90px;
}

.format-pic {
	margin: 30px auto 0;
	border-radius: 5px;
	max-height: 300px;
}

.panel {
	background-color: rgb(243, 236, 243);
	border-radius: 5px;
}

.btn-default {
	width: 100%;
	background-color: rgb(129, 114, 129);
	color: white;
}

.email {
	font-weight: 700;
}


/* Chevron ******************/

.chevron {
	height: 30px;
	margin: 40px 0;
	text-align: center;
}

.chevron img {
	max-height: 100%;
}

.chevron-top {
	position: absolute;
	bottom: -20px;
	width: 100%;
}


/******************************
Navigation
******************************/

.logo {
	background-color: white;.
}

.navbar {
	/* This sets nav height. and is also referenced by checkHeight()*/
	max-height: 400px;
}

.navbar-right li {
	font-size: 16px;
}

nav.navbar {
	min-height: 80px;
	background: url("../img/spring-leaves.jpg") no-repeat center;
	background-size: auto;
	border-bottom: 1px solid transparent;
}

#nav-header-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	max-width: 768px;
	min-width: 300px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#nav-header {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 100%;
	max-height: 75%;
}

#nav-menu a {
	font-size: 1em;
	color: #444;
}


/* Collapsing Nav */

.navbar ul li,
.navbar button,
.collapse.in {
	z-index: 999;
}

.navbar ul li {
	  max-width: 80%;
    margin: 0 auto;
}

.collapse.in,
.navbar-collapse.collapsing {
	position: relative;
	background-color: rgba(168, 148, 163, 0.9);
	border: none;
	border-radius: 0 0 20px 20px;
	z-index: 999;
	/*overflow: hidden;*/
	margin: 0;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 100%;
}

.collapse.in li,
.navbar-collapse.collapsing li {
	text-align: center;
	font-size: 1.2em;
	padding: 10px;
}

.navbar-collapse.collapsing {
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
}

.nav li a {
	text-shadow: 0px 0px 2px rgb(221, 236, 173);
}

.nav li a:hover {
	transform: scale(1.1, 1.1);
}

.collapse.in li:hover {
	background-color: rgba(205, 95, 255, .1);
}

#nav-btn {
	margin: 5px 0 0 10px;
}

#nav-btn:hover {
	background-color: rgba(205, 95, 255, .3);
}

#nav-btn,
#nav-btn:focus {
	background-color: rgba(247, 229, 255, .8);
}

#nav-btn:active {
	background-color: #A894A3;
}

.hide-until-click {
	display: none !important;
}


/******************************
Content
******************************/

.pad-text {
	margin: 0 auto;
	max-width: 450px;
}

.pad-text,
#services-content,
#testimonial-content {
	padding-top: 25px;
}


/* About Us */

#about-us {
	padding-top: 125px;
}

.about-wrap {
	display: inline-block;
	text-align: left;
	max-width: 500px;
	padding: 15px;
}

#profiles {
	margin-top: 60px;
}

.person-pic {
	margin: 18px auto 0;
	max-width: 140px;
}

.white-border {
	border: solid #fff 4px;
	border-radius: 9px;
}


/* Services */

.services {
	padding: 8px;
	margin: 8px;
}

.services h4 {
	font-weight: 600;
}

#pricing {
	margin: 25px auto 0;
	text-align: center;
	max-width: 95%;
}

/* Testimonials */

.testimonial {
	margin: 0 4px 8px;
	padding: 8px;
}

#testimonial-content {
	position: relative;
	display: block;
}

#testimonial-content .col-sm-4 {
	padding: 0 4px;
}

#slider button {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	border: none;
	background-color: transparent;
}

.slider-content {
	display: none;
	margin: 0 auto;
	width: 80%;
}

.slider-content.slider-active {
	display: block;
}

.slider-btn {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	border: none;
	padding: 0;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
}

.slider-next {
	right: 0px;
}

.slider-previous {
	left: 0px;
}

.slider-btn .glyphicon {
	color: #444;
	font-size: 30px;
	top: 0;
}

#slider button:hover .glyphicon,
#slider button:active .glyphicon {
	transform: scale(1.2, 1.2);
}

.slider-btn:active .glyphicon {
	color: #544A51;
	background-color: transparent;
}

.slider-btn:focus .glyphicon,
.slider-btn:hover .glyphicon {
	text-shadow: 0px 1px 5px #444;
}

.slider-btn:focus {
	outline: 0;
}

/* Contact Us */

.social-media {
	margin-top: 20px;
}

.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 5px 18%;
}

a.email {
	color: #544A51
}

span.email:after {
	content: "@tcatnoc";
}

span.email:before {
	content: "moc.";
}


/******************************
Footer
******************************/

html,
body {
	padding: 0;
	height: 100%;
}

#page-wrap {
	position: relative;
	min-height: 100%;
	margin-bottom: -55px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #A894A3;
}

.footer {
	padding-top: 20px;
}

/******************************
Media Queries
******************************/

@media screen and (min-width: 480px) {
	h2 {
		font-size: 2.5em;
		margin-top: 0;
	}
	h3 {
		font-size: 1.5em;
	}
}

@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar {
		max-height: 300px;
	}
	.main-content {
		margin-top: 200px;
	}
	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	nav.navbar {
		min-height: 100px;
	}
	.navbar {
		max-height: 500px;
	}
	.main-content {
		margin-top: 400px;
		padding-bottom: 145px;
	}
	.testimonial {
		display: block;
	}
	.slider-content {
		width: 100%;
	}
	.slider-btn {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	#nav-header-container {
		left: 25px;
		max-width: 960px;
	}
	#testimonial-content .col-sm-4 {
		padding: 0 8px;
	}
}

@media screen and (min-width: 1800px) {
	nav.navbar {
		background-size: cover;
	}
}
